/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &bt BT_CLR &bt BT_SEL 0  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I          &kp V &kp Z  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I 
    &kp A  &kp S  &kp L  &kp X  &bt BT_NXT  &kp H  &kp J  &kp K                &kp A  &kp S  &kp L  &kp X  &kp B &kp H  &kp J  &kp K
            >;
        };
    };
};
